.snackBarContainer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: inherit;
  display: flex;
  flex-direction: column;

  .snackBar {
    overflow: hidden;
    margin: auto;
    display: flex;
    animation: 0.2s expand;
    height: 2rem;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    color: white;

    .button {
      cursor: pointer;
      border: none;
      background: none;
      color: orange;
      font-size: inherit;
      font-weight: bold;
    }
  }

  .snackBar.remove {
    animation: 0.2s compress;
  }
}

@keyframes expand {
  from {
    height: 0;
    filter: blur(1rem) brightness(0);
  }

  to {
    height: 2rem;
  }
}

@keyframes compress {
  to {
     height: 0;
     filter: blur(1rem) brightness(0);
  }
}
