@import '../abstracts/_variables.scss';

.side-bar-container {
  min-width: $side-bar-width;
  transition: margin-left 0.5s;

  .side-bar {
    border: 1px solid $divider-color;
    background-color: white;
    padding: 24px;
    position: fixed;
    width: $side-bar-width;
    height: 100%;

    .side-bar__list {
      .side-bar__list-item {
        margin-bottom: 16px;

        a {
          display: flex;
          gap: 8px;
          text-decoration: none;
          color: $primary-text-color;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

.side-bar-container--collapsed {
  margin-left: -1 * $side-bar-width;
}
