.nav {
  display: flex;
  align-items: center;
  gap: 8px;

  &__title {
    padding-left: 8px;
    flex-grow: 1;
    font-size: 32px;
  }

  &__button {
    padding: 8px;
    line-height: 0;

    &:hover {
      background-color: $color-hover;
    }
  }

  &__icon {
    font-size: 32px;
  }

  &__img {
    width: 32px;
  }
}

.nav__button--toggle-view {
  &.grid-view {
    .nav__img--list-view {
      display: none;
    }
  }

  &.list-view {
    .nav__img--list-view {
      display: none;
    }
  }
}
