.editor {
  position: relative;

  .textarea {
    border-radius: 8px;
    width: 100%;
    resize: none;
    outline: none;

    padding: 1rem;
    font-size: 1rem;
    font-family: initial;
  }

  .textCounter {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
  }
}
