.editor {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  transition: 0.2s;

  .textarea {
    background-color: unset;
    border: unset;
    width: 100%;
    resize: none;
    outline: none;
    overflow: overlay;
    padding: 1rem;

    font-size: 1rem;
    font-family: initial;
  }

  .textCounter {
    position: absolute;
    text-align: right;
    right: 0.75rem;
    bottom: 0.75rem;
    font-size: 0.75rem;
    pointer-events: none;
  }

  .warning {
    color: orange;
  }
}

.disabled {
  background-color: rgba(118, 118, 118, 0.3);

  .textCounter {
    color: rgb(84, 84, 84);
  }
}
