.notes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;

  .note {
    transition: 0.2s;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    word-wrap: break-word;
    word-break: keep-all;

    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #fe8;
    background-color: #fe8;
  }
  
  .selected {
    border: 2px solid orange;
    background-color: orange;

    transform: scale(112.5%);
  }

  .newNoteButton {
    transition: 0.2s;
    cursor: pointer;
    width: 8rem;
    height: 8rem;

    font-size: large;
    color: white;
    border-radius: 8px;
    border: 2px solid lightgray;
    background-color: lightgray;
  }
}
