.notes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;

  %item {
    transition: 0.2s;
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    border-radius: 8px;
  }

  .note {
    @extend %item;
    word-wrap: break-word;
    word-break: keep-all;
    background-color: #fe8;
    overflow: overlay;

    .content {
      color: inherit;
    }
  }

  .note.emphasis {
    background-color: orange;
    transform: scale(106.25%);
  }

  .newNoteButton {
    @extend %item;
    font-size: large;
    color: white;
    border: none;
    background-color: lightgray;
  }
}

.notes[data-note-view='list'] {
  %item {
    width: 100%;
    height: 4rem;
  }

  .note {
    @extend %item;
  }

  .newNoteButton {
    @extend %item;
  }
}

.notes.animation {
  animation: 0.2s blur ease;
}

@keyframes blur {
  50% {
    filter: blur(8px);
  }
}
