$black-color: #000;
$gray-color: #777;
$gray-light-color: #ddd;

$red-color: #D06;
$blue-color: #06D;
$green-color: #6D6;

$font-small: 12px;
$font-normal: 16px;
$font-large: 20px;

$header-height: 80px;