.header {
  height: 60px;
  width: calc(100% - calc(var(--base-unit) * 4));
  padding: 0 calc(var(--base-unit) * 2);
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--text1);

  .icon {
    height: 32px;
    width: 32px;
  }
  .title-container {
    flex: 1 auto;

    .title {
      font-size: 28px;
      font-weight: 600;
    }
  }
  .buttons {
    height: 100%;
    display: flex;
    align-items: center;

    .button {
      height: 100%;
    }
  }
  .profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .user {
      text-decoration: none;

      .icon {
        border-radius: 50%;
      }
    }
  }
}
