.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: var(--header-height);
  width: 100%;
  padding: 0 var(--content-padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--text1);
  background-color: var(--bg-element);
  border-bottom: 1px solid var(--border3);

  @media screen and (max-width: 496px) {
    #sidemenu-button {
      display: none;
    }
  }

  .icon {
    height: 32px;
    width: 32px;
  }
  .title-container {
    flex: 1 auto;

    .title {
      font-size: 28px;
      font-weight: 600;
    }
  }
  .buttons {
    height: 100%;
    display: flex;
    align-items: center;

    .button {
      height: 100%;
    }
  }
  .profile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .user {
      text-decoration: none;

      .icon {
        border-radius: 50%;
      }
    }
  }
}
