.contents {
  width: 100%;

  .memo-section {
    max-width: 800px;
    min-width: 280px;
    margin: 0 auto;

    .form {
      padding: var(--content-padding);
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--bg-element);

      .content-label {
        display: block;
        width: 100%;
        padding: var(--content-padding) 0;
        font-size: 1.2rem;
        font-weight: 600;
      }
      .content-input {
        padding: var(--content-padding);
        background-color: var(--bg-element);
        font-size: 1rem;
        width: calc(100% - var(--content-padding) * 2);
        resize: none;
        border: 1px solid var(--border2);
        border-radius: var(--border-radius);
      }
      .content-info {
        display: block;
        width: 100%;
        font-size: 0.875rem;
        text-align: right;
        color: var(--text3);
      }
      button {
        width: 128px;

        @media screen and (max-width: 496px) {
          width: 100%;
        }
      }
    }

    .memos {
      display: flex;
      flex-wrap: wrap;

      // margin: calc(var(--content-padding) * -1);

      .memo {
        position: relative;
        width: calc(25% - 2 * var(--content-padding));
        aspect-ratio: 1 / 1;

        background-color: var(--bg-memo);
        border-radius: var(--border-radius);
        color: var(--text1);

        margin: var(--content-padding);
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;

        &:hover {
          box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        }

        .utils {
          display: flex;
          width: 100%;
          height: 36px;
          // padding: var(--content-padding);
          align-items: center;
          justify-content: flex-end;

          .util {
            font-size: 0.5rem;
            border-radius: 50%;
            color: var(--text2);
            opacity: 0.7;
            height: 100%;
            aspect-ratio: 1 / 1;
            margin: 0 var(--base-unit);
          }
          .util:hover {
            opacity: 0.87;
            background-color: rgba(95, 99, 104, 0.157);
          }

          .delete {
            align-self: flex-end;
          }
        }

        .content {
          flex: 1;

          padding: var(--content-padding);

          word-wrap: break-word;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5rem;

          overflow-y: auto;
        }
        @media screen and (max-width: 650px) {
          width: calc(33% - 2 * var(--content-padding));
        }

        @media screen and (max-width: 500px) {
          width: calc(50% - 2 * var(--content-padding));
        }
      }
    }
  }
}
