.sidemenu {
  z-index: 10;
  position: absolute;
  top: 0;
  left: calc(var(--sidemenu-width) * -1);
  transform: translate3d(0, 0, 0);
  transition: transform 150ms ease-in-out;

  height: 100%;
  width: var(--sidemenu-width);

  display: flex;
  flex-direction: column;

  background-color: var(--bg-element);
  border-right: 1px solid var(--border3);

  &.active {
    transform: translate3d(var(--sidemenu-width), 0, 0);
  }

  @media screen and (max-width: 496px) {
    position: fixed;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    transform: unset;
    height: var(--header-height);
    width: 100%;

    flex-direction: row;
    align-items: center;
    border-right: none;
    border-top: 1px solid var(--border3);

    &.active {
      transform: translate3d(0, 0, 0);
    }
  }

  .menus {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 100%;

    .menu {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        color: var(--text1);
        padding: var(--content-padding);
        font-size: 1rem;

        .icon {
          width: 24px;
          height: 24px;
          margin-right: var(--content-padding);
        }
      }

      &:hover {
        background-color: var(--bg-primary);
      }
    }

    @media screen and (max-width: 496px) {
      flex-direction: row;
      .menu {
        flex: 1;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        &:not(:last-of-type) {
          border-right: 1px solid var(--border3);
        }
      }
    }
  }
}
