.snackBar {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 15rem;
  height: 3rem;
  border-radius: var(--border-radius);
  background-color: var(--kakao-dark);
  color: var(--kakao-text-color);

  opacity: 0;
  visibility: hidden;
  transform: translateX(calc(-1 * (15rem + 10px)));
  transition: transform 250ms ease-in, opacity 400ms linear, visibility 300ms linear 300ms;

  &.on {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .content {
    padding: 0 10px;
  }
  .cancel {
    background-color: var(--kakao-primary);
    color: var(--kakao-text-color-dark);
    border-radius: 4px;
    height: 100%;
    width: 60px;
  }
  .cancel:hover {
    background-color: var(--kakao-primary-hover);
  }

  @media screen and (max-width: 496px) {
    width: calc(100% - 20px);
    right: 10px;
  }
}
