.main {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .breakLine {
    border: none;
    height: 1px;
    background-color: rgba(118, 118, 118, 0.3);
  }
}
