<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keep App</title>
  </head>
  <body class="body" data-theme="light">
    <header class="header">
      <ul class="buttons mr px">
        <li>
          <button class="button">
            <img class="icon" src="/src/assets/hamberger.svg" alt="메뉴" />
          </button>
        </li>
      </ul>
      <div class="title-container">
        <h1 class="title">Keep</h1>
      </div>
      <ul class="buttons mr px">
        <li>
          <button class="button">
            <img class="icon" src="/src/assets/list.svg" alt="목록보기변경" />
          </button>
        </li>
      </ul>
      <div class="profile px">
        <a class="user" href="#">
          <img class="icon" src="/src/assets/avatar.png" alt="유저프로필" />
        </a>
      </div>
    </header>
    <main>
      <nav class="sidemenu">
        <ul class="flex flex-col px">
          <li>
            <a href="#"> 메뉴 1 </a>
          </li>
          <li>
            <a href="#"> 메뉴 2 </a>
          </li>
        </ul>
      </nav>
    </main>
  </body>
</html>
