<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Keep App</title>
  </head>
  <body class="body">
    <header>
      <button class="menu-toggle-button">
        <img src="./menu.svg" alt="menu toggle button"/>
      </button>
      <a class="logo" href="/">
        <img src="./logo.svg" alt="logo button"/>
      </a>
      <button class="view-toggle-button">
        <img src="./list.png" alt="list toggle button"/>
        <img class="hide" src="./grid.png" alt="grid toggle button"/>
      </button>
      <button class="profile-button">
        <img src="./user.png" alt="user profile button"/>
      </button>
    </header>
    <main>
      <nav class="nav">
        <ul class="nav__menus">
          <li class="nav__menu">
            <button>
              <img src="./notes.svg" alt="notes menu button"/>
              <p>Notes</p>
            </button>
          </li>
          <li class="nav__menu">
            <button>
              <img src="./reminder.png" alt="reminder menu button"/>
              <p>Reminders</p>
            </button>
          </li>
          <li class="nav__menu">
            <button>
              <img src="./settings.svg" alt="setting menu button"/>
              <p>Settings</p>
            </button>
          </li>
        </ul>
      </nav>
      <section class="notes">
        <header class="notes__header">
          <textarea class="notes__header__input" type="text" placeholder="노트 내용을 입력해주세요."></textarea>
          <p class="notes__header__length">0/200</p>
        </header>
        <article>
          <ul class="notes__articles list">
            <li class="notes__article">
              note1
            </li>
            <li class="notes__article">
              note2
            </li>
          </ul>
        </article>
      </section>
    </main>
  </body>
</html>
