.input-area {
    margin-bottom: 50px;
    .input-area__textarea {
        width: 100%;
        padding: 10px;
        overflow-y: scroll;
        resize: vertical;
        &:focus::placeholder {
            color: transparent;
        }
    }
    .input-area__letter-count {
        font-size: 10px;
    }
}
